<template>
    <div class="site-content ui vertical segment">
        <main>
            <div class="ui one column container subheader homepage">
                <div class="column ">
                    <h1>Grote pakketten versturen</h1>
                    <h2>Snel, betrouwbaar en gemakkelijk</h2>
                    <a href="#"><img class="large ui image centered" src="/img/video.jpg"></a>
                    <div class="ui two column grid">
                        <div class="column verstuur">
                            <router-link :to="{ name: 'login'}" class="huge ui button">
                                Verstuur
                            </router-link>
                        </div>
                        <div class="column traceer">
                            <router-link :to="{ name: 'traceer'}" class="huge ui button">
                                Traceer
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="ui one column grid whitebg">
            <div class="column">
                <div class="ui two column doubling stackable grid container">
                    <div class="column">
                        <h1>OVER BigParcel</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed ultrices mauris. Praesent
                            eu augue mi. Ut pellentesque in lacus non vulputate. Curabitur consequat dolor sapien, a sodales
                            arcu cursus at. Mauris varius hendrerit diam, quis tempus lorem. Maecenas in dapibus augue. Nam
                            non semper quam. Vestibulum sed semper enim. Sed semper augue orci, convallis ornare nulla
                            tristique laoreet. Mauris vitae imperdiet urna, eget rhoncus enim. Praesent feugiat, velit sit
                            amet laoreet laoreet, lectus velit aliquam neque, vel faucibus turpis magna non dolor. Sed
                            finibus tincidunt tellus, sit amet vehicula justo. Etiam iaculis laoreet dapibus.
                        </p>
                        <a href="#">Lees meer</a>
                    </div>
                    <div class="column">
                        <img class="ui medium circular image" src="/img/grotebus.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="ui one column grid bluebg">
            <div class="column">
                <div class="ui two column doubling stackable grid container">

                    <div class="column">
                        <img class="ui medium circular image" src="/img/calandericonhome.png">
                    </div>
                    <div class="column">
                        <h1>Flexibele en snelle service</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed ultrices mauris. Praesent
                            eu augue mi. Ut pellentesque in lacus non vulputate. Curabitur consequat dolor sapien, a sodales
                            arcu cursus at. Mauris varius hendrerit diam, quis tempus lorem. Maecenas in dapibus augue. Nam
                            non semper quam. Vestibulum sed semper enim. Sed semper augue orci, convallis ornare nulla
                            tristique laoreet. Mauris vitae imperdiet urna, eget rhoncus enim. Praesent feugiat, velit sit
                            amet laoreet laoreet, lectus velit aliquam neque, vel faucibus turpis magna non dolor. Sed
                            finibus tincidunt tellus, sit amet vehicula justo. Etiam iaculis laoreet dapibus.
                        </p>
                        <a href="#">Lees meer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
