html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
}

html, body {
  margin: 0 auto;
  background-color: whiteSmoke;
}

#site-content {
  margin-top: 7.5em;
  margin-bottom: 1em;
}

#app {
  display: -webkit-box;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

#site-content {
  -webkit-box-flex: 1;
  flex: 1;
}

.ui.inverted.menu {
  border-top: .25em #f98b26 solid;
  height: 6.25em;
}

#app.login .column {
  min-width: 450px;
  width: 50%;
}

/*# sourceMappingURL=app.css.map */
