<template>
    <footer class="ui inverted vertical segment">
        <div class="ui center aligned container">
            <div class="ui horizontal inverted small divided link list">
                Ontwikkeld voor <a href="https://www.rijnijssel.nl/overig-aanbod/codefest/">RijnIJssel CodeFest 2017</a> |
                Ontwikkeld door <a href="http://www.sensingit.nl">Sensing IT</a>
            </div>
        </div>
    </footer>
</template>
