<template>
    <header>
        <nav class="computer tablet only one column row">
            <div class="ui fixed inverted menu">
                <div class="ui container">
                    <a href="#" class="header item">
                        <h2>CodeFest 2017</h2>
                    </a>
                    <router-link :to="{ name: 'home'}" exact class="item">
                        Home
                    </router-link>
                    <router-link :to="{ name: 'login' }" class="item" v-if="!auth.identity.authenticated">
                        Login
                    </router-link>
                    <router-link :to="{ name: 'logout' }" class="item" v-else>
                        Logout
                    </router-link>
                    <span v-if="auth.identity.authenticated">{{ auth.getUsername() }}</span>
                    <div class="ui simple dropdown item">
                        Dropdown <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="#">Link Item</a>
                            <a class="item" href="#">Link Item</a>
                            <div class="divider"></div>
                            <div class="header">Header Item</div>
                            <div class="item">
                                <i class="dropdown icon"></i>
                                Sub Menu
                                <div class="menu">
                                    <a class="item" href="#">Link Item</a>
                                    <a class="item" href="#">Link Item</a>
                                </div>
                            </div>
                            <a class="item" href="#">Link Item</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</template>

<script type="text/babel">
    // services
    import auth from '../../services/auth'

    export default {
        name: 'navbar',

        data () {
            return {
                auth: auth
            }
        }
    }
</script>
