<template>
    <div class="ui vertical segment site-content">
        <div class="ui one column container subheader inhoud">
            <h1>Traceer uw zending</h1>
            <h2>Gebruik uw persoonlijke traceercode</h2>
            <div class="column whitebg centered">
                <div class="ui grid">
                    <div class="ten wide column centered">
                        <form class="ui large form" role="form" method="get">
                            <div class="column whitebg centered">
                                <h2>Uw zending volgen</h2>
                                <div class="field">
                                    <input type="text" name="traceCode"  placeholder="ABC-12-AB-12345" v-model="modelData.traceCode">
                                </div>
                                <button class="ui button" type="submit" @click.prevent="handleForm">
                                    <i class="shipping icon"></i> traceer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script type="text/babel">
    /// services
    import order from '../../services/order'
    export default {
        name: 'traceer',

        props: {
            modelData: {
                type: Object,
                default: () => ({
                    traceCode: null
                })
            }
        },

        data () {
            return {
                formAction: 'traceer'
            }
        },

        computed: {
            formMethod: function () {
                return this.$el.method.toLowerCase();
            },
            form: function () {
                return this.$el.querySelector('form');
            },
            formData: function () {
                return new FormData(this.form);
            }
        },

        methods: {
            // future AJAX support
            onSubmit: function(e) {
//                this.$http[this.formMethod](this.formAction, formData)
//                        .then(this.successCallBack, this.errorCallBack);
                order.trace(this, this.formData, this.successCallBack, this.errorCallBack);
            },

            successCallBack: (response) => {
                console.log('AjaxForm submission: SUCCESS');
            },

            errorCallBack: (response) => {
                console.log('AjaxForm submission: ERROR');
            },
            // future AJAX support

//            emitHandledFormEvent: function () {
//                this.$emit('handled-form');
//            },

            handleForm: function (e) {
                this.onSubmit(e);
            }
        }
    }
</script>
