@import 'reset';

html, body {
    margin: 0 auto;
    background-color: whiteSmoke;
}

#site-content {
    margin-top: 7.5em;
    margin-bottom: 1em;
}

// Sticky Footer
#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#site-content {
    flex: 1;
}

.ui.inverted.menu {
    border-top: .25em #f98b26 solid;
    height: 6.25em;
}

// (TODO) Page-specific
#app.login .column {
    min-width: 450px;
    width: 50%;
}
