<template>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="ui segment">
                <h2 class="ui teal image header">
                    <div class="content">
                        Inloggen om toegang te krijgen
                    </div>
                </h2>
                <form class="ui large form" method="post">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input id="email" type="email" class="field" name="email" value=""
                                   autofocus autocomplete="off" placeholder="email@provider.nl" v-model="email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="password" type="password" class="field" name="password"
                                   autocomplete="off" placeholder="wachtwoord" v-model="password">
                        </div>
                    </div>
                    <button class="ui fluid large teal submit button" type="submit" @click.prevent="handleForm">
                        Inloggen
                    </button>
                    <div class="ui error message">
                        <ul class="list"></ul>
                    </div>
                </form>
                <div class="ui">
                    <br>
                    Nog geen account?
                    <router-link :to="{ name: 'register' }" class="item">
                        Registreren
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    // services
    import auth from '../../services/auth'
    import form from '../../services/form'

    export default {
        name: 'login',

        mounted() {
            if (auth.identity.authenticated) {
                this.emitHandledFormEvent();
                return;
            }
        },

        props: {
        },

        data () {
            return {
                formAction: 'login',
                email: 'a',
                password: 'b',
            };
        },

        computed: {
            // TODO This shit sucks
        },

        methods: {
            onSubmit: function (e) {
                form.hideErrors(this.getForm());
                auth.login(this, this.getFormData(), this.successCallBack, this.errorCallBack);
            },

            successCallBack: function (response) {
                console.log('AjaxForm submission: SUCCESS', response);

                this.emitHandledFormEvent();
            },

            errorCallBack: function (error) {
                console.log('AjaxForm submission: ERROR', error);

                let body = error.body;
                form.showErrors(this.getForm(), body);
            },

            emitHandledFormEvent: function () {
                this.$emit('handled-form');
            },

            handleForm: function (e) {
                this.onSubmit(e);
            },


            getForm: function () {
                return this.$el.querySelector('form');
            },
            getFormData: function () {
                return new FormData(this.getForm());
            },
        },
    };
</script>
