<template>
    <div></div>
</template>

<script type="text/babel">
    // services
    import auth from '../../services/auth'
    export default {
        name: 'logout',

        mounted() {
            auth.logout();
            this.$router.push('login');
        }
    }
</script>
