<template>
    <div class="ui vertical segment site-content">
        <div class="ui one column container subheader inhoud">
            <h1>Registreren</h1>
            <div class="column whitebg centered">
                <div class="ui grid">
                    <div class="ten wide column centered">
                        <form class="ui form" role="form" method="post">
                            <h4 class="ui dividing header">Naam</h4>
                            <div class="three fields">
                                <div class="field">
                                    <input type="text" name="identity[firstname]" placeholder="Voornaam">
                                </div>
                                <div class="field">
                                    <input type="text" name="identity[preposition]" placeholder="Tussenvoegsel">
                                </div>
                                <div class="field">
                                    <input type="text" name="identity[lastname]" placeholder="Achternaam">
                                </div>
                            </div>
                            <h5 class="ui dividing header">Adres</h5>
                            <div class="fields">
                                <div class="twelve wide field">
                                    <input type="text" name="identity[address]" placeholder="Adres">
                                </div>
                                <div class="four wide field">
                                    <input type="text" name="identity[address-2]" placeholder="Huisnummer">
                                </div>
                            </div>
                            <div class="fields">
                                <div class="five wide field">
                                    <input type="text" name="identity[zipcode]" placeholder="Postcode">
                                </div>
                                <div class="five wide field">
                                    <input type="text" name="identity[city]" placeholder="Plaats">
                                </div>
                                <div class="six wide field">
                                    <select class="ui fluid search dropdown" name="provincie" id="provincie">
                                        <option v-for="option in provincieOptions" @value="option.value">
                                            {{ option.text }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <h5 class="ui dividing header">Contactgegevens</h5>
                            <div class="fields">
                                <div class="ten wide field">
                                    <input type="text" name="identity[email]" placeholder="naam@mail.nl">
                                </div>
                                <div class="six wide field">
                                    <input type="text" name="identity[phone]" placeholder="06-123456789">
                                </div>
                            </div>
                            <h5 class="ui dividing header">Wachtwoord</h5>
                            <div class="fields">
                                <div class="eight wide field">
                                    <input type="password" name="identity[password]" placeholder="Wachtwoord">
                                </div>
                                <div class="eight wide field">
                                    <input type="password" name="identity[password-2]" placeholder="Wachtwoord">
                                </div>
                            </div>
                            <button class="ui fluid large teal submit button" type="submit" @click.prevent="handleForm">
                                Registreren
                            </button>
                            <div class="ui error message"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    // services
    import auth from '../../services/auth'
    export default {
        name: 'registreren',

        mounted() {
            if (auth.identity.authenticated) {
                this.emitHandledFormEvent();
                return;
            }
        },

        props: {
            modelData: Object,
        },

        data () {
            return {
                formAction: 'gegevens',

                provincieOptions: [
                    {value: '0', text: 'Provincie'},
                    {value: 'DR', text: 'Drenthe'},
                    {value: 'FL', text: 'Flevoland'},
                    {value: 'FR', text: 'Friesland'},
                    {value: 'GE', text: 'Gelderland'},
                    {value: 'GR', text: 'Groningen'},
                    {value: 'LI', text: 'Limburg'},
                    {value: 'NB', text: 'Noord-Brabant'},
                    {value: 'NH', text: 'Noord-Holland'},
                    {value: 'OV', text: 'Overijssel'},
                    {value: 'UT', text: 'Utrecht'},
                    {value: 'ZE', text: 'Zeeland'},
                    {value: 'ZH', text: 'Zuid-Holland'}
                ]
            }
        },

        computed: {
            formMethod: function () {
                return this.$el.method.toLowerCase();
            },
            form: function () {
                return this.$el.querySelector('form');
            },
            formData: function () {
                console.log("NEW formdata");
                return new FormData(this.form);
            },
            formError: {
                get: function () {
                    return '<ul class="list"><li>' + this.error + '</li></ul>'
                }
            }
        },

        methods: {
            onSubmit: function (e) {
                auth.signup(this, this.formData, this.successCallBack, this.errorCallBack);
            },

            successCallBack: function (response) {
                console.log('AjaxForm submission: SUCCESS');
                console.log(auth.getUsername());
                console.log(response);
                this.emitHandledFormEvent();
            },

            errorCallBack: function (response) {
                console.log('AjaxForm submission: ERROR');
                // TODO: show form error in a better way
                let errorEle = this.form.getElementsByClassName('error');
                errorEle[0].innerHTML = this.formError;
                errorEle[0].style = 'display: block;';
            },

            emitHandledFormEvent: function () {
                this.$emit('handled-form');
            },

            handleForm: function (e) {
                this.onSubmit(e);
            }
        }
    }
</script>
