<template>
    <div class="ui grid">
        <div class="ten wide column centered">
            <form class="ui form" role="form" method="post">
                <h4 class="ui dividing header">Betalen</h4>
                <div class="ui equal width grid">
                    <div class="column">
                        <a href="#" @click.prevent="handleForm">
                            <img class="ui small image" src="/img/PayPal.png">
                        </a>
                    </div>
                    <div class="column">
                        <a href="#" @click.prevent="handleForm">
                            <img class="ui small image" src="/img/IDEAL_Logo.png">
                        </a>
                    </div>
                    <div class="column">
                        <a href="#" @click.prevent="handleForm">
                            <img class="ui small image" src="/img/creditcards.png">
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'afrekenen',

        methods: {
            emitHandledFormEvent: function () {
                this.$emit('handled-form');
            },

            handleForm: function (e) {
                this.emitHandledFormEvent();
            }
        }
    }
</script>
