<template>
    <div class="ui grid">
        <div class="ten wide column centered">
            <form class="ui form" role="form" method="post">
                <h4 class="ui dividing header">Ontvanger</h4>
                <div class="three fields">
                    <div class="field">
                        <input type="text" placeholder="Voornaam" v-model="modelData.firstname">
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Tussenvoegsel" v-model="modelData.preposition">
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Achternaam" v-model="modelData.lastname">
                    </div>
                </div>
                <div class="fields">
                    <div class="ten wide field">
                        <input type="text" name="registreren[email]" placeholder="naam@mail.nl"
                               v-model="modelData.email">
                    </div>
                    <div class="six wide field">
                        <input type="text" name="registreren[phone]" placeholder="06-123456789"
                               v-model="modelData.phone">
                    </div>
                </div>
                <h5 class="ui dividing header">Ophaal adres</h5>
                <div class="fields">
                    <div class="twelve wide field">
                        <input type="text" name="order[pickupAddress][streetname]" placeholder="Adres" v-model="modelData.pickupaddress">
                    </div>
                    <div class="four wide field">
                        <input type="text" name="order[pickupAddress][streetnumber]" placeholder="Huisnummer"
                               v-model="modelData.pickuphousenumber">
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <input type="text" name="order[pickupAddress][zipcode]" placeholder="Postcode" v-model="modelData.pickupzipcode">
                    </div>
                    <div class="five wide field">
                        <input type="text" name="order[pickupAddress][city]" placeholder="Plaats" v-model="modelData.pickupcity">
                    </div>
                    <div class="six wide field">
                        <select class="ui fluid search dropdown" name="order[pickupAddress][state]" id="pickupprovincie"
                                v-model="modelData.pickupprovince">
                            <option v-for="option in provincieOptions" @value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                </div>
                <h5 class="ui dividing header">Aflever adres</h5>
                <div class="fields">
                    <div class="twelve wide field">
                        <input type="text" name="order[dropoffAddress][streetname]" placeholder="Adres" v-model="modelData.dropoffaddress">
                    </div>
                    <div class="four wide field">
                        <input type="text" name="order[dropoffAddress][streetnumber]" placeholder="Huisnummer"
                               v-model="modelData.dropoffhousenumber">
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <input type="text" name="order[dropoffAddress][zipcode]" placeholder="Postcode" v-model="modelData.dropoffzipcode">
                    </div>
                    <div class="five wide field">
                        <input type="text" name="order[dropoffAddress][city]" placeholder="Plaats" v-model="modelData.dropoffcity">
                    </div>
                    <div class="six wide field">
                        <select class="ui fluid search dropdown" name="order[dropoffAddress][state]" id="dropoffprovincie"
                                v-model="modelData.dropoffprovince">
                            <option v-for="option in provincieOptions" @value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                </div>
                <h4 class="ui dividing header">Gegevens over de verzending</h4>
                <div class="fields">
                    <div class="eight wide field">
                        <select class="ui fluid search dropdown" name="hoofdcat" id="hoofdcat"
                                v-model="modelData.sendlocation">
                            <option v-for="option in hoofdcatOptions" @value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                    <div class="eight wide field">
                        <select class="ui fluid search dropdown" name="subcat" id="subcat" v-model="modelData.item">
                            <option v-for="option in subcatOptions" @value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="four wide field">
                        <input type="text" name="order[packages][0][width]" placeholder="Breedte" v-model="modelData.width">
                    </div>
                    <div class="four wide field">
                        <input type="text" name="order[packages][0][height]" placeholder="Hoogte" v-model="modelData.height">
                    </div>
                    <div class="four wide field">
                        <input type="text" name="order[packages][0][length]" placeholder="Lengte" v-model="modelData.length">
                    </div>
                    <div class="four wide field">
                        <input type="text" name="shipping[address]" placeholder="Totaal 0m2" class="totaal"
                               disabled>
                    </div>
                </div>
                <h5 class="ui dividing header">Heeft u een kortingsbon?</h5>
                <div class="fields">
                    <div class="sixteen wide field">
                        <input type="text" name="order[discount_code]" placeholder="Kortings code" v-model="modelData.discountCode">
                    </div>
                </div>
                <h4 class="ui dividing header">Vanaf wanneer mogen wij het ophalen?</h4>
                <div class="fields">
                    <div class="eight wide field">
                        <div class="ui calendar" id="example1">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="order[pickup_start][date]" placeholder="Datum" v-model="modelData.datestart">
                            </div>
                        </div>
                    </div>
                    <div class="eight wide field">
                        <div class="ui calendar" id="example3">
                            <div class="ui input left icon">
                                <i class="time icon"></i>
                                <input type="text" name="order[pickup_start][time]" placeholder="Tijd" v-model="modelData.timestart">
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="ui dividing header">Tot wanneer mogen wij het ophalen?</h4>
                <div class="fields">
                    <div class="eight wide field">
                        <div class="ui calendar" id="example4">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="order[pickup_end][date]" placeholder="Datum" v-model="modelData.dateend">
                            </div>
                        </div>
                    </div>
                    <div class="eight wide field">
                        <div class="ui calendar" id="example5">
                            <div class="ui input left icon">
                                <i class="time icon"></i>
                                <input type="text" name="order[pickup_end][time]" placeholder="Tijd" v-model="modelData.timeend">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="sixteen wide field">
                        <label>Totaalprijs</label>
                        <input type="text" name="shipping[address]" placeholder="€0,00"
                               class="totaal" v-model="modelData.price" disabled>
                    </div>
                </div>
                <button class="ui fluid large teal submit button" type="submit" @click.prevent="handleForm">
                    Betalen
                </button>
            </form>
        </div>
    </div>
</template>

<script type="text/babel">
    // services
    //TODO: pickup_start time and pickup_start date have to be combined?
    import order from '../../../services/order'
    import auth from '../../../services/auth'
    export default {
        name: 'gegevens',

        mounted() {
            auth.getUserInfo(this, function() {console.log("got user info!!!")});
            this.$emit('bind-model-data', this.modelData);
        },

        props: {
            modelData: {
                type: Object,
                default: () => ({
                    pickupprovince: 'Provincie',
                    dropoffprovince: 'Provincie',
                    sendlocation: 'Waar staat het?',
                    item: 'Wat is het?',
                })
            },
        },

        data () {
            return {
                formAction: 'afrekenen',

                provincieOptions: [
                    {value: '0', text: 'Provincie'},
                    {value: 'DR', text: 'Drenthe'},
                    {value: 'FL', text: 'Flevoland'},
                    {value: 'FR', text: 'Friesland'},
                    {value: 'GE', text: 'Gelderland'},
                    {value: 'GR', text: 'Groningen'},
                    {value: 'LI', text: 'Limburg'},
                    {value: 'NB', text: 'Noord-Brabant'},
                    {value: 'NH', text: 'Noord-Holland'},
                    {value: 'OV', text: 'Overijssel'},
                    {value: 'UT', text: 'Utrecht'},
                    {value: 'ZE', text: 'Zeeland'},
                    {value: 'ZH', text: 'Zuid-Holland'}
                ],

                hoofdcatOptions: [
                    {value: '0', text: 'Waar staat het?'},
                    {value: 'KE', text: 'Keuken'},
                    {value: 'WO', text: 'Woonkamer'},
                    {value: 'SL', text: 'Slaapkamer'},
                    {value: 'TU', text: 'Tuin'},
                    {value: 'KA', text: 'Kasten'},
                    {value: 'KN', text: 'Kantoor'},
                    {value: 'OV', text: 'Overig'}
                ],

                subcatOptions: [
                    {value: '0', text: 'Wat is het?'},
                    {value: 'koel/vrieskast tafelmodel', text: 'koel/vrieskast tafelmodel'},
                    {value: 'koel/vrieskast kastmodel', text: 'koel/vrieskast kastmodel'},
                    {value: 'Koel/vrieskast American', text: 'Koel/vrieskast American'},
                    {value: 'vaatwasmachine', text: 'vaatwasmachine'},
                    {value: 'gasfornuis', text: 'gasfornuis'},
                    {value: 'eettafel stoel standaard', text: 'eettafel stoel standaard'},
                    {value: 'eettafel stoel groot', text: 'eettafel stoel groot'},
                    {value: 'barkruk', text: 'barkruk'},
                    {value: 'eettafel klein', text: 'eettafel klein'},
                    {value: 'eettafel groot', text: 'eettafel groot'},
                    {value: 'kinderstoel', text: 'kinderstoel'},
                    {value: 'matras 1 persoon', text: 'matras 1 persoon'},
                    {value: 'matras 2 persoons', text: 'matras 2 persoons'},
                    {value: 'bed 1 persoon', text: 'bed 1 persoon'},
                    {value: 'bed 2 persoons', text: 'bed 2 persoons'},
                    {value: 'boxspring 1 persoon', text: 'boxspring 1 persoon'},
                    {value: 'boxspring 2 persoons', text: 'boxspring 2 persoons'},
                    {value: 'kinderbed', text: 'kinderbed'},
                    {value: 'commode', text: 'commode'},
                    {value: 'bureaustoel', text: 'bureaustoel'},
                    {value: 'bureau', text: 'bureau'},
                    {value: 'ladeblok', text: 'ladeblok'},
                    {value: 'archiefkast klein', text: 'archiefkast klein'},
                    {value: 'archiefkast middel', text: 'archiefkast middel'},
                    {value: 'archiefkast groot', text: 'archiefkast groot'},
                    {value: 'Televisie', text: 'Televisie'},
                    {value: 'fauteuil', text: 'fauteuil'},
                    {value: 'bank tweezit', text: 'bank tweezit'},
                    {value: 'bank driezit', text: 'bank driezit'},
                    {value: 'sofa', text: 'sofa'},
                    {value: 'salontafel klein', text: 'salontafel klein'},
                    {value: 'salontafel groot', text: 'salontafel groot'},
                    {value: 'terrasstoel inklapbaar', text: 'terrasstoel inklapbaar'},
                    {value: 'terrasstoel niet inklapbaar', text: 'terrasstoel niet inklapbaar'},
                    {value: 'terrastafel', text: 'terrastafel'},
                    {value: 'launch stoel', text: 'launch stoel'},
                    {value: 'launch bank', text: 'launch bank'},
                    {value: 'schommelbank', text: 'schommelbank'},
                    {value: 'tuinbank hout', text: 'tuinbank hout'},
                    {value: 'parasol', text: 'parasol'},
                    {value: 'parasol voet', text: 'parasol voet'},
                    {value: 'kruiwagen', text: 'kruiwagen'},
                    {value: 'hand grasmaaier', text: 'hand grasmaaier'},
                    {value: 'motor grasmaaier', text: 'motor grasmaaier'},
                    {value: 'zit grasmaaier', text: 'zit grasmaaier'},
                    {value: 'wasmachine', text: 'wasmachine'},
                    {value: 'droogtrommel', text: 'droogtrommel'},
                    {value: 'kinderwagen', text: 'kinderwagen'},
                    {value: 'ladder', text: 'ladder'},
                    {value: 'band', text: 'band'},
                    {value: 'velg', text: 'velg'},
                    {value: 'velg met band', text: 'velg met band'},
                    {value: 'fietsenrek', text: 'fietsenrek'},
                    {value: 'dakkoffer', text: 'dakkoffer'},
                    {value: 'bumper', text: 'bumper'},
                    {value: 'golfset met tas', text: 'golfset met tas'},
                    {value: 'ski\'s / snowboard', text: 'ski\'s/snowboard'},
                    {value: 'kinderfiets', text: 'kinderfiets'},
                    {value: 'fiets', text: 'fiets'},
                    {value: 'elektrische fiets', text: 'elektrische fiets'},
                    {value: 'brommer/scooter', text: 'brommer/scooter'},
                    {value: 'hometrainer', text: 'hometrainer'},
                    {value: 'roeimachine', text: 'roeimachine'},
                    {value: 'kastmeubel klein laag', text: 'kastmeubel klein laag'},
                    {value: 'kastmeubel klein hoog', text: 'kastmeubel klein hoog'},
                    {value: 'kastmeubel groot laag', text: 'kastmeubel groot laag'},
                    {value: 'kastmeubel groot hoog', text: 'kastmeubel groot hoog'},
                    {value: 'dressoirkast', text: 'dressoirkast'}
                ]
            }
        },

        computed: {
            formMethod: function () {
                return this.$el.method.toLowerCase();
            }
        },

        methods: {
            // future AJAX support
            onSubmit: function (e) {
                let formData = new FormData(this.$el.querySelector('form'));

                try {
                    order.sendForm(this, formData, this.successCallBack);
                } catch (error) {
                    console.log(error);
                    this.errorCallBack(error);
                }
            },

            successCallBack: function (response) {
                console.log('AjaxForm submission: SUCCESS');
            },

            errorCallBack: function (response) {
                console.log('AjaxForm submission: ERROR');
            },
            // future AJAX support

            emitHandledFormEvent: function () {
                this.$emit('handled-form');
            },

            handleForm: function (e) {
                this.onSubmit(e);
            }
        }
    }
</script>
