<template>
    <div :class="['column steps', headerClass, shown]">
        <div class="number">2</div>
        <a href="#" @click.prevent="handleForm">
            <h1>Gegevens</h1>
        </a>
        <i class="right arrow icon"></i>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'gegevensTab',

        props: [
            'headerstate'
        ],

        data () {
            return {
                pageTitle: 'gegevens',
                headerStates: {
                    0: 'completed',
                    1: 'active',
                    2: ''
                },
                previousStateObject: null
            }
        },
        computed: {
            previousState: {
                get: function () {
                    if (this.previousStateObject == null) this.previousState = this.$parent.viewStates;
                    return this.previousStateObject;
                },
                set: function (viewStates) {
                    let previousState;
                    for (let property in viewStates) {
                        if (property === this.pageTitle) {
                            break;
                        }
                        previousState = property;
                    }
                    this.previousStateObject = previousState;
                }
            },
            headerClass: function () {
                let viewStates = this.$parent.viewStates;

                let cssClass = this.headerStates[2];
                if (viewStates[this.pageTitle].completed) {
                    cssClass = this.headerStates[0];
                } else if (viewStates[this.previousState].completed) {
                    cssClass = this.headerStates[1];
                }
                return cssClass;
            },
            shown: function () {
                return this.$parent.view == this.pageTitle ? 'shown' : ''
            }
        },

        methods: {
            handleForm: function (e) {
                let viewStates = this.$parent.viewStates;

                if (viewStates[this.$parent.view].index > viewStates[this.pageTitle].index ||
                        viewStates[this.pageTitle].completed ||
                        viewStates[this.previousState].completed)
                    this.$parent.view = this.pageTitle;
            }
        }
    }
</script>
