<template>
    <div class="ui grid">
        <div class="six wide column">
            <form class="ui large form" role="form" method="post">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input id="email" type="email" class="field" name="identity[email]" value="" autofocus=""
                               autocomplete="off" placeholder="naam@mail.nl" v-model="modelData.email">
                        <div class="test"></div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input id="password" type="password" class="form-control" name="identity[password]"
                               autocomplete="off" placeholder="wachtwoord" v-model="modelData.password">
                    </div>
                </div>
                <button class="ui fluid large teal submit button" type="submit" @click.prevent="handleForm">
                    Login
                </button>
                <div class="ui error message"></div>
                <div class="ui">
                    <a class="btn btn-link">
                        Wachtwoord vergeten?
                    </a>
                </div>
            </form>
        </div>
        <div class="ten wide column registreer">
            <h2>Nog geen account?</h2>
            <router-link :to="{ name: 'registreren'}" class="ui button">
                registreren
            </router-link>
            <router-link :to="{ name: 'gegevens-gast'}">
                Als gast doorgaan
            </router-link>
        </div>
    </div>
</template>

<script type="text/babel">
    // services
    import auth from '../../../services/auth'
    export default {
        name: 'inloggen',

        mounted() {
            if (auth.identity.authenticated) {
                this.emitHandledFormEvent();
                return;
            }

            /* // TODO: get this working (semantic forms) https://semantic-ui.com/behaviors/form.html#content-type
             let form = $(this.form);
             form.form({
             fields: {
             username: {
             identifier: 'email',
             rules: [{
             type: 'email', prompt: 'Please enter a email'
             }]
             },
             password: {
             identifier: 'password',
             rules: [{
             type: 'empty', prompt: 'Please enter a password'
             }, {
             type: 'minLength[6]', prompt: 'Your password must be at least {ruleValue} characters'
             }]
             },
             }
             });
             form.form('clear');
             */
        },

        props: {
            modelData: Object,
        },

        data () {
            return {
                formAction: 'gegevens'
            }
        },

        computed: {
            formMethod: function () {
                return this.$el.method.toLowerCase();
            },
            form: function () {
                return this.$el.querySelector('form');
            },
            formData: function () {
                return new FormData(this.form);
            },
            formError: {
                get: function () {
                    return '<ul class="list"><li>' + this.error + '</li></ul>'
                }
            }
        },

        methods: {
            onSubmit: function (e) {
                auth.login(this, this.formData, this.successCallBack, this.errorCallBack);
            },

            successCallBack: function (response) {
                console.log('AjaxForm submission: SUCCESS');
                console.log(auth.getUsername());
                console.log(response);
                this.emitHandledFormEvent();
            },

            errorCallBack: function (response) {
                console.log('AjaxForm submission: ERROR');
                // TODO: show form error in a better way
                let errorEle = this.form.getElementsByClassName('error');
                errorEle[0].innerHTML = this.formError;
                errorEle[0].style = 'display: block;';
            },

            emitHandledFormEvent: function () {
                this.$emit('handled-form');
            },

            handleForm: function (e) {
                this.onSubmit(e);
            }
        }
    }
</script>
