<template>
    <div :class="['column steps', headerClass, shown]">
        <div class="number">1</div>
        <a href="#" @click.prevent="handleForm">
            <h1>Inloggen</h1>
        </a>
        <i class="right arrow icon"></i>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'inloggenTab',

        props: [
            'headerstate'
        ],

        data () {
            return {
                pageTitle: 'inloggen',
                headerStates: {
                    0: 'completed no-pointer-events',
                    1: 'active',
                    2: ''
                },
            }
        },

        computed: {
            headerClass: function () {
                let viewStates = this.$parent.viewStates;

                let cssClass = this.headerStates[1];
                if (viewStates[this.pageTitle].completed) {
                    cssClass = this.headerStates[0];
                }
                return cssClass;
            },
            shown: function () {
                return this.$parent.view == this.pageTitle ? 'shown' : ''
            }
        },

        methods: {
            handleForm: function (e) {
                let viewStates = this.$parent.viewStates;

                if (viewStates[this.$parent.view].index > viewStates[this.pageTitle].index ||
                        viewStates[this.pageTitle].completed)
                    this.$parent.view = this.pageTitle;

                this.$emit('handled-form');
            }
        }
    }
</script>
