<template>
    <div class="ui grid">
        <div class="ten wide column centered">
            <form class="ui form" role="form" method="post">
                <div class="ui massive message green">
                    Uw betaling en bestelling is succesvol gelukt!
                    <a href="#" @click.prevent="handleForm">
                        <h3 class="ui blue header">Print uw label</h3>
                    </a>
                </div>
            </form>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'printen',

        methods: {
            emitHandledFormEvent: function () {
                this.$emit('handled-form');
            },

            handleForm: function (e) {
                this.emitHandledFormEvent();
            }
        }
    }
</script>
