<template>
    <div class="ui vertical segment site-content">
        <div class="ui one column container subheader inhoud">
            <h1>Zending versturen</h1>
            <h2>In 4 stappen geregeld</h2>
            <div class="column whitebg centered">
                <div class="ui four column grid">
                    <div class="column steps active">
                        <div class="number">1</div>
                        <router-link :to="{ name: 'login'}">
                            <h1>Inloggen</h1>
                        </router-link>
                        <i class="right arrow icon"></i>
                    </div>
                    <div class="column steps">
                        <div class="number">2</div>
                        <h1>Gegevens</h1>
                        <i class="right arrow icon"></i>
                    </div>
                    <div class="column steps">
                        <div class="number">3</div>
                        <h1>Afrekenen</h1>
                        <i class="right arrow icon"></i>
                    </div>
                    <div class="column steps">
                        <div class="number">4</div>
                        <h1>Printen</h1>
                    </div>
                </div>

                <div class="ui grid">
                    <div class="six wide column">
                        <form class="ui large form" role="form" method="post">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input id="email" type="email" name="username" autofocus=""
                                           autocomplete="off" placeholder="naam@mail.nl" v-model="identity.username">
                                    <div class="test"></div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input id="password" type="password" name="password"
                                           autocomplete="off" placeholder="wachtwoord" v-model="identity.password">
                                </div>
                            </div>
                            <button class="ui fluid large teal submit button" type="submit" @click.prevent="handleForm">
                                Login
                            </button>
                            <div class="ui error message"></div>
                            <div class="ui">
                                <a class="btn btn-link">
                                    Wachtwoord vergeten?
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="ten wide column registreer">
                        <h2>Nog geen account?</h2>
                        <router-link :to="{ name: 'registreren'}" class="ui button">
                            registreren
                        </router-link>
                        <router-link :to="{ name: 'gegevens-gast'}">
                            Als gast doorgaan
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    // services
    import auth from '../../services/auth'
    export default {
        name: 'login',

        data () {
            return {
                formAction: 'gegevens',

                identity: {
                    username: 'jackie',
                    password: 'jackie123'
                }
            }
        },

        computed: {
            formMethod: function () {
                return this.$el.method.toLowerCase();
            }
        },

        methods: {
            // future AJAX support
            onSubmit: function (e) {
                let formData = new FormData(this.$el.querySelector('form'));

                try {
                    auth.login(this, formData, this.successCallBack);
                } catch (error) {
                    console.log(error);
                    this.errorCallBack(error);
                }
//                this.$http[this.formMethod](uri, formData)
//                        .then(this.successCallBack, this.errorCallBack);

//                this.$http[this.formMethod](this.formAction, formData)
//                        .then(this.successCallBack, this.errorCallBack);
            },

            successCallBack: function (response) {
                console.log('AjaxForm submission: SUCCESS');
                console.log(auth.getIdentity());
                this.$router.push({name: this.formAction});
            },

            errorCallBack: function (response) {
                console.log('AjaxForm submission: ERROR');
                // TODO: show form error
            },
            // future AJAX support

            handleForm: function (e) {
                console.log(e);
                this.onSubmit(e);
            }
        }
    }
</script>
