<template>
    <footer class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Over Big Parcel</h4>
                    <div class="ui inverted link list">
                        <router-link :to="{ name: 'sitemap'}" class="item">
                            Sitemap
                        </router-link>
                        <router-link :to="{ name: 'contact'}" class="item">
                            Contact opnemen
                        </router-link>
                        <router-link :to="{ name: 'persberichten'}" class="item">
                            Persberichten
                        </router-link>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Services</h4>
                    <div class="ui inverted link list">
                        <router-link :to="{ name: 'traceer'}" class="item">
                            Traceer
                        </router-link>
                        <router-link :to="{ name: 'verstuur'}" class="item">
                            Verstuur
                        </router-link>
                        <router-link :to="{ name: 'ontvangen'}" class="item">
                            Ontvangen
                        </router-link>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Big Parcel</h4>
                    <p>Wij versturen grote pakketten naar mensen die grote pakketjes willen ontvangen en mensen kunnen deze
                        vervoeren enzo.</p>
                </div>
            </div>
        </div>
        <div class="ui one column grid centered">
            &copy; Big Parcel B.V. | Ontwikkeld door:<a href="http://www.sensingit.nl">Sensing IT</a>
        </div>
    </footer>
</template>