<template>
    <header>
        <nav class="computer tablet only one column row">
            <div class="ui fixed menu">
                <div class="ui container">
                    <div class="ui small image">
                        <a href="#"><img src="/img/logo.jpg"/></a>
                    </div>
                    <div class="right menu">
                        <router-link :to="{ name: 'home'}" exact class="item">
                            Home
                        </router-link>
                        <router-link :to="{ name: 'klantenservice' }" class="item">
                            Klantenservice
                        </router-link>
                        <router-link :to="{ name: 'traceer' }" class="item">
                            Traceer
                        </router-link>
                        <router-link :to="{ name: 'login' }" class="item" v-if="!auth.identity.authenticated">
                            Login
                        </router-link>
                        <router-link :to="{ name: 'logout' }" class="item" v-else>
                            Logout
                        </router-link>
                        <span v-if="auth.identity.authenticated">{{ auth.getUsername() }}</span>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="mobile only one column row">
            <div class="narrow row">
                <div class="ui navbar  menu">
                    <a href="#" class="brand item">
                        <img src="/img/logo.jpg"/>
                    </a>
                    <div class="right menu open">
                        <a href="" class="menu item">
                            <i class="align justify icon"></i>
                        </a>
                    </div>
                </div>
                <div class="ui vertical navbar menu">
                    <a href="" class="active item">Link</a>
                    <router-link :to="{ name: 'home' }" exact class="item">
                        Home
                    </router-link>
                    <router-link :to="{ name: 'test' }" class="item">
                        Fire Event
                    </router-link>
                </div>
            </div>
        </nav>
    </header>
</template>

<script type="text/babel">
    // services
    import auth from '../../services/auth'

    export default {
        name: 'navbar',

        data () {
            return {
                auth: auth
            }
        }
    }
</script>
