<template>
    <div class="ui vertical segment site-content">
        <div class="ui one column container subheader inhoud">
            <h1>Zending versturen</h1>
            <h2>In 4 stappen geregeld</h2>
            <div class="column whitebg centered">
                <div class="ui four column grid">
                    <inloggenTab :headerstate="tabState"></inloggenTab>
                    <gegevensTab :headerstate="tabState"></gegevensTab>
                    <afrekenenTab :headerstate="tabState"></afrekenenTab>
                    <printenTab :headerstate="tabState"></printenTab>
                </div>
                <transition name="component-fade" mode="out-in">
                    <component :is="view" @handled-form="handledFormCallback" @bind-model-data="bindModelData"
                               :modelData="childData()"></component>
                </transition>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import dev from '../../services/devTest.js';
    export default {
        name: 'versturen',

        devMode: true,

        data () {
            return {
                view: 'inloggen',

                viewStates: {
                    'inloggen': {
                        index: 0,
                        nextstate: 'gegevens',
                        tab: 'inloggenTab',
                        modelData: {
                            email: "",
                            password: "",
                        },
                        completed: false,
                    },
                    'gegevens': {
                        index: 1,
                        nextstate: 'afrekenen',
                        tab: 'gegevensTab',
                        modelData: {},
                        completed: false,
                    },
                    'afrekenen': {
                        index: 2,
                        nextstate: 'printen',
                        tab: 'afrekenenTab',
                        modelData: {},
                        completed: false,
                    },
                    'printen': {
                        index: 3,
                        nextstate: 'inloggen',
                        tab: 'printenTab',
                        modelData: {},
                        completed: false,
                    },
                },

                headerStates: {
                    0: 'completed',
                    1: 'active',
                    2: ''
                },
            }
        },

        components: {
            'inloggen': require('./tabs/inloggen.vue'),
            'gegevens': require('./tabs/gegevens.vue'),
            'afrekenen': require('./tabs/afrekenen.vue'),
            'printen': require('./tabs/printen.vue'),

            'inloggenTab': require('./tabs/inloggen-tab.vue'),
            'gegevensTab': require('./tabs/gegevens-tab.vue'),
            'afrekenenTab': require('./tabs/afrekenen-tab.vue'),
            'printenTab': require('./tabs/printen-tab.vue')
        },

        methods: {
            handledFormCallback: function () {
                this.viewStates[this.view].completed = true;
                this.view = this.viewStates[this.view].nextstate;
            },

            bindModelData: function (childModelData) {
                this.viewStates[this.view].modelData = childModelData;
            },

            childData: function () {
                let modelData = this.viewStates[this.view].modelData;
                if (Object.keys(modelData).length === 0 && modelData.constructor === Object) {
                    modelData = undefined;
                }
                return modelData;
            },
        },

        computed: {
            tabState: function () {
                return this.viewStates[this.view].index;
            }
        },

        mounted() {
            if(this.$options.devMode) {
                for(let key in dev) {
                    this.viewStates[key] = dev[key];
                }
            }
        }
    }
</script>

<style>
    .component-fade-enter-active, .component-fade-leave-active {
        transition: opacity .3s ease;
    }

    .component-fade-enter, .component-fade-leave-to {
        opacity: 0;
    }
</style>
