<template>
    <div id="app" :class="routeClass">
        <navbar></navbar>

        <div class="site-content">
            <!--<div class="container">-->
            <!--<h1>{{ message }}</h1>-->
            <!--</div>-->
            <transition name="slide-up" mode="out-in">
                <router-view></router-view>
            </transition>
        </div>

        <layoutfooter></layoutfooter>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'app',

        store: ['message'],

        events: {
            testEvent(message) {
                this.message = message
            },

            testTwo(message) {
                this.message = message
            }
        },

        computed: {
            /**
             * Get a class name based on the route path.
             *
             * @return {String}
             */
            routeClass() {
                return this.$route.path.split('/').filter(part => Boolean(part)).join('-')
            }
        },

        components: {
            'navbar': require('./layout/navbar.vue'),
            'layoutfooter': require('./layout/footer.vue')
        }
    }
</script>

<style>
    .slide-up-enter-active, .slide-up-leave-active {
        transition: all .3s ease;
    }
    .slide-up-enter, .slide-up-leave-to {
        transform: translateY(-20px);
        opacity: 0;
    }
</style>
